// Intro
.intro {
  height: 600px;
  width: 100%;
  background-image: url("../assets/images/parallax-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: "Open Sans", sans-serif;
  @include tablet {
    background-attachment: unset;
  }
  @include mobile {
    height: 480px;
  }
  @include mobilesmall {
    height: 400px;
  }
  &__layer {
    height: 100%;
    width: 100%;
    background-color: rgba($color: #000, $alpha: 0.6);
    @include flexcenter;
  }
  &__text {
    font-weight: 700;
    font-size: 36px;
    color: $white;
    margin-bottom: 15px;
    @include mobile {
      font-size: 24px;
    }
    @include mobilesmall {
      font-size: 22px;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 72px;
    color: $white;
    @include tablet {
      font-size: 64px;
    }
    @include mobile {
      font-size: 48px;
    }
    @include mobilesmall {
      font-size: 36px;
    }
  }
  &__subtitle {
    font-weight: 700;
    font-size: 25px;
    color: #d5d3d3;
    @include mobile {
      font-size: 18px;
    }
    @include mobilesmall {
      font-size: 16px;
    }
  }
}

// About
.about {
  background-color: $dark;
  padding: 80px 0;
  @include mobile {
    padding: 60px 0;
  }
  &__inner {
    display: flex;
    gap: 100px;
    @include desktop {
      gap: 30px;
    }
    @include mobile {
      flex-direction: column-reverse;
    }
  }
  &__content {
    padding-top: 20px;
    @include mobile {
      padding-top: 0;
    }
  }
  &__photo {
    height: 500px;
    width: 400px;
    object-fit: cover;
    @include mobile {
      margin: 0 auto;
      width: 100%;
      max-width: 400px;
      aspect-ratio: auto 4 / 5;
    }
  }
  &__text {
    text-align: justify;
    color: $gray;
    margin: 30px 0;
    @include text;
    @include mobile {
      margin: 15px 0;
    }
    &--last {
      @include mobile {
        display: none;
      }
    }
  }
}

// Services
.services {
  padding: 80px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  @include mobile {
    padding: 60px 0;
  }
  &__text {
    margin: 50px 0;
    max-width: 760px;
    text-align: center;
    @include text;
    @include mobile {
      margin: 30px 0;
      text-align: left;
    }
  }
  &__wrapper {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    @include mobile {
      margin-top: 30px;
      gap: 30px;
    }
  }
  &__item {
    max-width: 460px;
    padding-top: 20px;
    padding-left: 35px;
    position: relative;
    &__icon {
      position: absolute;
      top: 0;
      left: 0;
    }
    &__title {
      @include title;
      font-size: 22px;
      letter-spacing: 0.18em;
      margin-bottom: 18px;
    }
    &__text {
      font-weight: 300;
      font-size: 14px;
    }
  }
}

// Skills
.skills {
  padding: 80px 0 100px;
  @include flexcenter;
  flex-direction: column;
  @include mobile {
    padding: 60px 0;
  }
  &__wrapper {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px 70px;
    width: 100%;
    @include desktop {
      gap: 40px;
    }
    @include mobile {
      grid-template-columns: 1fr;
      gap: 30px;
    }
  }
  &__item {
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      h3 {
        @include title;
        font-size: 22px;
        letter-spacing: 0.18em;
        font-weight: 400;
        @include mobile {
          font-size: 18px;
        }
      }
    }
    &__bar {
      width: 100%;
      height: 30px;
      border: 1px solid $black;
      padding: 3px;
      @include mobile {
        height: 25px;
      }
      &__inner {
        background-color: $dark;
        height: 100%;
      }
    }
  }
}

// Projects
.projects {
  padding: 80px 0;
  background-color: $dark;
  @include mobile {
    padding: 60px 0;
  }

  &__inner {
    .section-title {
      text-align: center;
    }
  }
  &__wrapper {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    @include mobile {
      gap: 30px;
    }
  }
  &__item {
    height: 400px;
    width: 640px;
    position: relative;
    @include mobile {
      width: 100%;
      height: auto;
      aspect-ratio: auto 640 / 400;
    }
    &__photo {
      height: 100%;
      width: 100%;
      object-fit: cover;
      display: block;
    }
    &__content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.8);
      @include flexcenter;
      flex-direction: column;
      z-index: -3;
      opacity: 0;
      transition: all 0.3s linear;
    }
    &:hover &__content {
      z-index: 2;
      opacity: 1;
    }
    &__title {
      @include title;
      font-size: 24px;
      letter-spacing: 0.2em;
      color: $white;
    }
    &__desc {
      margin: 20px 0;
      font-size: 14px;
      line-height: 1.2;
      font-weight: 500;
      letter-spacing: -0.015em;
      font-family: "Montserrat", sans-serif;
      color: $white;
    }
  }
}

// Contact
.contact {
  padding: 80px 0;
  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(26, 21, 21, 0) 0%,
      rgba(0, 0, 0, 0.16) 100%
    ),
    #ffffff;
  @include mobile {
    padding: 60px 0;
  }
  &__inner {
    @include flexcenter;
    flex-direction: column;
    width: 100%;
  }
  &__text {
    margin: 50px 0;
    max-width: 760px;
    text-align: center;
    @include text;
    @include mobile {
      text-align: left;
    }
  }
}
